.login-background{
    background: linear-gradient(135deg, rgba(34,193,195,1)0%, rgba(253,187,45,1)100%);
    height: 100vh;
    .login-container{
        width:400px;
        height:500px;
        margin: 0 auto;
        border-radius: 10px;
        background-color:white;
        position: absolute;
        top:100px;
        bottom: 0;
        right:0;
        left:0;

    }
    .login-content{

        padding:28px;
        .text-login{
            text-align:center;
            font-weight: 600;
            font-size: 24px;
            padding-top:10px;
        }
        .login-input{
            margin:7px 0;
            .eye-password {
                position: relative;
                i{
                   position: absolute;
                   top: 10px;
                   right: 8px;
                   cursor: pointer;
               }
            }
        }
        .btn-login{
            width:100%;
            margin:10px 0;
            height:30px;
            border-radius: 15px;
            outline: none;
            border:none;
            background: linear-gradient(135deg,rgba(34,193,195,1)0%,rgba(253,187,45,1)100%);
            color: white;
        }
        .forgot-password{
            font-size: 12px;
        }
        .social-login{
            display: flex;
            margin-left: 117px;
            margin-top: 10px;
            i{
                cursor: pointer;
                padding:10px;
                font-size:35px;
                border-radius: 50%;
                // border: 1px solid black;
                .facebook{
                    padding-left: 10px;
                }
            }
        }
    }
}