.section-About{
    margin: 20px;
    .header{
        font-size:25px;
        font-weight: bold;
        margin: 20px;

    }
    .content{
        display: flex;
        gap:10px;
        .video{
            width: 60%;
            flex-direction: row;
        }
        .describe{
            width: 40%;
            flex-direction: row;
            text-align: justify;
            padding:10px;
        }
    }
}