.section-specialty{
    height:330px;
    background: white ;

}

.slick-prev{
    border-top: 1px solid green !important;
    position: relative !important;
    left:0 !important;
}

.slick-next {
    border-top: 1px solid red !important;
    right:0 !important;
}