.home-header-container {
    height: 80px;
    // border: 5px solid red;
    width: 100%;
    padding:0 10px;
    .home-header-content{
        width: 100%;
        display: flex;
        height: 100%;
        .home-header-left{
            width: 25%;
            display: flex;
            align-items: center;
            .logo{
                height: 79%;
                width: 19%;
                cursor: pointer;
                // transition: scale(0.5, 0.5);
                margin-left: 34px;
            }
            i{
                font-size: 25px;
                color:grey;
                cursor: pointer;
            }
        }
        .home-header-center{
            width: 55%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .center-child{
                .subChild{
                    font-size: 12px;
                }
            }
        }
        .home-header-right{
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            .support{
                padding-right: 50px;
                display: flex;
                align-items: center;
                cursor: pointer;
                i{
                    font-size:15px;
                    margin-right: 5px;
                }
            }
            .flagLanguageVN{
                cursor: pointer;
                &.active{
                    color: red;
                }
            }  
            .flagLanguageEN{
                cursor: pointer;
                margin: 0 10px;
                &.active{
                    color: red;
                }
            }   
            
        }
    }
}

.home-header-banner{
    background-image: url("../../assets/logo.jpg");
    height:485px;
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    display: flex;
    flex-direction: column;
    
    .content-north {
        height: 65%;
        background: linear-gradient(black, gray);

        .title1{
            text-align: center;
            font-size:30px;
            text-shadow: 1px 1px 1px black;
            margin-bottom: 10px;
            margin-top:30px;
            color:white;
        }
    
        .title2{
            text-align: center;
            font-size:30px;
            text-shadow: 1px 1px 1px black;
            margin-bottom: 15px;
            color:white;
            margin-bottom: 15px;
        }
    
        .search{
            width:fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 10px;
            border-radius:10px;
            background-color: orange;
            i{
                margin: 0 30px;
            }
            input{
                height:30px;
                width: 360px;
                background:transparent;
                border:none;
                outline: none;
            }
        }
    }

    .content-south{
        height: 35%;
        display: flex;
        align-items: flex-end;
        justify-content:center;
        background: linear-gradient(black, gray, white);

        .options{
            display: flex;
            text-align: center;
            gap:50px;
            justify-content: center;
            .options-child{
                border: 1px solid green;
                width: 100px;
                .icon-child{
                    background: rgb(225, 14, 14);
                    width:40px;
                    height: 40px;
                    padding:10px;
                    border-radius:50%;
                    text-align: center;
                    margin:0 auto;
                    i{
                        color:orange;
                        font-size:20px;
                        font-weight: bold;
                    }
                }
                .text-child{
                    font-size: 17px;
                    font-weight: 500;
                    cursor: pointer;
                    &:hover{
                        color:orange;
                    }
                }
            }
        }
        
    }
}